
@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Create</h2>

<form action="~/home/Create" method="post">
    <label>EmpName</label>
    <input type="text" name="EmpName" class="form-control"/>

    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" class="form-control" />

    <input type="submit"   value="Create" class="btn btn-success" />
</form>