@model MVCLionsBatch9pm_09_04_2021.Models.EmployeeModel
@{
    ViewBag.Title = "SelectPlayer";
}

<h2>SelectPlayer</h2>

@ViewBag.Player<br />


@Model.EmpId<br />
@Model.EmpName<br />
@Model.EmpSalary<br />
