
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Home/Create" method="post" class="form-inline">
    <div>
        <label>EmpName</label>
        <input type="text" name="EmpName" value="" class="form-control" />
    </div>
    <div>
        <label>EmpSalary</label>
        <input type="text" name="EmpSalary" value="" class="form-control" />
    </div>
    <div>
        
        <input type="submit"  value="Create" class="btn btn-primary" />
    </div>
</form>