@model CodeFirstApproach.Models.EmployeeModel

@{
    ViewBag.Title = "Delete";
}

<h2>Are you Sure you want to Delete Record?</h2>
@Model.EmpId<br />
@Model.EmpName<br />
@Model.EmpSalary<br />

<form action="~/Home/Delete/@Model.EmpId" method="post" class="form-inline">
    <input type="submit"  value="Delete" class="btn btn-danger"/>
</form>

